# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:faizstudents.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^faizstudents.com$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:faizstudents.com
